/*.App {
  text-align: center;
}*/
body {
  font-family: 'Titillium Web', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin-right: 15px;
}

.App>header>h1 {
  text-align: center;
}